<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example" verbose="1" parallel="classes" thread-count="1" configfailurepolicy="continue" >
    <test name="Web test" annotations="JDK" >
        <classes>
            <class name="core.cucumber.runner.LoginTest"/>
        </classes>
    </test>
</suite>
